body {
    background-color: #f3f3f3;
  }
  
  /* --------------Beardo Banner Styling starts------------- */
  
  #V-beardo-banner {
    width: 90%;
    height: 280px;
    /* margin-top: 100px;  */
    margin: auto;
  }
  
  #V-beardo-banner > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  #V-beardo-banner:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  /* --------------Beardo Banner Styling Ends------------- */
  
  /* --------------------- Special Offer Styling Starts ---------- */
  
  h2 {
    text-align: center;
    margin-top: 35px;
    font-size: 24px;
    font-weight: normal;
  }
  
  #V-secondDiv {
    display: flex;
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 373px;
    gap: 2%;
    justify-content: center;
  }
  .V-leftdiv {
    width: 49%;
    /* border: 1px solid blue; */
    height: 100%;
  }
  .V-leftdiv > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  
  .V-leftdiv:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /* --------------------- Special Offer Styling Ends ---------- */
  
  /* --------Third Div Styling Starts -------  */
  
  .V-thirddiv {
    width: 43%;
    height: 373px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .V-thirddiv > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  .V-thirddiv:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /* --------Third Div Styling Ends -------  */
  
  #V-featured-brands {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 2%;
    justify-content: center;
    width: 90%;
    margin: auto;
  }
  #V-featured-brands > div {
    width: 100%;
    /* border: 1px solid black;  */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  }
  #V-featured-brands > div:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  
  #V-featured-brands > div > img {
    width: 100%;
    border-radius: 3px;
  }
  #V-featured-brands > div > p {
    font-size: 17px;
    margin: 10px 0px;
    text-align: center;
    font-weight: normal;
  }
  